<div class="headingBackground">
  <div class="headingLine"></div>
  <p style="margin-left: 25px; margin-top: 10px;">
    <span class="headingTitle1">Accu</span>
    <span class="headingTitle2">ret</span>
    <span class="headingTitle1"> Dashboard</span>
  </p>
</div>

<div class="dashboardBackground">

    <ul class="flex-container">
      <li class="infoBox">
        <app-availability></app-availability>
      </li>
      <li class="infoBox">
        <app-reported-availability></app-reported-availability>
      </li>
      <li class="infoBox">
        <app-lost-sales></app-lost-sales>
      </li>
      <li class="infoBox">
        <app-data-accuracy></app-data-accuracy>
      </li>
    </ul>

    <div class="filterTile">
      <div class="tileHeading">
        <div class="tileHeadingText">Filter</div>
      </div>

      <ul class="flex-container">
        <li class="filterBox">
          <div class="dropdownTitle">
            <div class="titleAlign">Store</div>
          </div>
          <div class="dropdown">
            <button (click)="showDropdown('store')" class="dropbtn">
              {{store}}<span style="float: right"><fa-icon [icon]="faAngleDown" class="icon"></fa-icon></span>
            </button>
            <div id="storeDropdown" class="dropdown-content">
              <a (click)="hideDropdown('storeDropdown', 'Store 1')">Store 1</a>
              <a (click)="hideDropdown('storeDropdown', 'Store 2')">Store 2</a>
              <a (click)="hideDropdown('storeDropdown', 'Store 3')">Store 3</a>
              <a (click)="hideDropdown('storeDropdown', 'All')">All</a>
            </div>
          </div>
        </li>
        <li class="filterBox">
          <div class="dropdownTitle">
            <div class="titleAlign">SKU</div>
          </div>
          <div class="dropdown">
            <button (click)="showDropdown('sku')" class="dropbtn">
              {{SKU}}<span style="float: right"><fa-icon [icon]="faAngleDown" class="icon"></fa-icon></span>
            </button>
            <div id="SKUDropdown" class="dropdown-content">
              <a (click)="hideDropdown('SKUDropdown', 'SKU 1')">SKU 1</a>
              <a (click)="hideDropdown('SKUDropdown', 'SKU 2')">SKU 2</a>
              <a (click)="hideDropdown('SKUDropdown', 'SKU 3')">SKU 3</a>
              <a (click)="hideDropdown('SKUDropdown', 'All')">All</a>
            </div>
          </div>
        </li>
        <li class="filterBox">
          <div class="dropdownTitle">
            <div class="titleAlign">Time</div>
          </div>
          <div class="dropdown">
            <button (click)="showDropdown('time')" class="dropbtn">
              {{time}}<span style="float: right"><fa-icon [icon]="faAngleDown" class="icon"></fa-icon></span>
            </button>
            <div id="timeDropdown" class="dropdown-content">
              <a (click)="hideDropdown('timeDropdown', 'Time 1')">Time 1</a>
              <a (click)="hideDropdown('timeDropdown', 'Time 2')">Time 2</a>
              <a (click)="hideDropdown('timeDropdown', 'Time 3')">Time 3</a>
            </div>
          </div>
        </li>
      </ul>
      <!--
        <div class="dropdown">
        <button (click)="showDropdown()" class="dropbtn">{{store}} ></button>
        <div id="myDropdown" class="dropdown-content">
          <a (click)="hideDropdown('link 1')">Link 1</a>
          <a (click)="hideDropdown('link 2')">Link 2</a>
          <a (click)="hideDropdown('link 3')">Link 3</a>
        </div>
      </div> 
      -->
    </div>

    <div class="noticeMessage">
      All values are one year rolling averages. % change compared to rolling horizon ending last period.
    </div>

    <ul class="flex-container">
      <li class="graphBox" style="width: 32%">
        <div class="tileHeading">
          <div class="tileHeadingText">Lost Sales by SKU</div>
        </div>
        <app-lost-sales-sku></app-lost-sales-sku>
      </li>
      <li class="graphBox" style="width: 65.4%">
        <div class="tileHeading">
          <div class="tileHeadingText">Total Lost Sales Over Time</div>
        </div>
        <app-lost-sales-time></app-lost-sales-time>
      </li>
    </ul>

    <ul class="flex-container" style="margin-top: 5px;">
      <li class="graphBox">
        <div class="tileHeading">
          <div class="tileHeadingText">Lost Sales By Store</div>
        </div>
        <app-lost-sales-store></app-lost-sales-store>
      </li>
      <li class="graphBox">
        <div class="tileHeading">
          <div class="tileHeadingText">Lost sales% vs lost sales units</div>
        </div>
        <app-lost-sales-percent-vs-unit></app-lost-sales-percent-vs-unit>
      </li>
      <li class="graphBox">
        <div class="tileHeading">
          <div class="tileHeadingText">Transitions to OOS</div>
        </div>
        <app-substitution-when-product-is-oos></app-substitution-when-product-is-oos>
      </li>
    </ul>
</div>

